

{% extends "admin/base.html" %}

{% block title %}Inscripciones CEFyT - Centro de Estudios Filosóficos y Teológicos{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">CEFyT - Centro de Estudios Filosóficos y Teológicos</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block footer %}
</div>
<center style="font-size:x-small">
Desarrollado por <a href="mailto:marianovolarik@gmail.com"> Mariano Volarik</a> y <a href="mailto:alfonso.maschio@gmail.com"> Alfonso Maschio.</a>
</center>
</div>
{% endblock %}


