{% extends "admin/base_site.html" %}
{% block content %}

<script>
    function ConfirmarInscripcion(){

        var radios = document.getElementsByName('curso');
        var curso_seleccionado = 0;
        var cursos_abiertos = [];
        var curso_nombre = "";

        for (var i = 0, length = radios.length; i < length; i++) {
           if (radios[i].checked) {
                curso_seleccionado = radios[i].value;
            }
        }
        mensaje = '¿Estás seguro que deseas inscribirte al curso ';
        curso_nombre =document.getElementById(curso_seleccionado).innerHTML;

        return confirm(mensaje + curso_nombre + "?");
    }
</script>

<div id="content-main">


<!-- Cursos inscriptos -->
{% if lista_cursados_inscripto %}
    <h1>Actualmente estás registrado a los siguientes cursos:<h1>
    <table>
    {% for curso in lista_cursados_inscripto %}
        <td><h4>{{curso.nombre}}</h4></td>
    {% endfor %}
    </table>
    <a href="/sia/listado_cuotas/">Ver estado de cuotas</a>
{% endif %}


<form onsubmit="return ConfirmarInscripcion();" method="POST", id="mainform" , action=".">
{% csrf_token %}
    <br>
    <tr><td><h1>Cursos disponibles</h1></td></tr>
    {% if not lista_cursados %}
        <tr><td><p style="color:blue">No hay cursos con inscripciones abiertas a los que no estés inscripto.</p></td></tr>
    {% endif %}
    

<!-- Lista de cursos con inscripción abierta -->
<table>
<col width="150">
<col width="600">
{% for curso in lista_cursados %}
    {% if curso.inscripcion_abierta %}
        <tr><td><input type="radio" name="curso" value="{{curso.id}}" checked><b><label id="{{curso.id}}">{{ curso }}</label></b></input></td><td>{{ curso.curso.descripcion }}</td></tr>

        {% if alumno_es_argentino %}
            <tr><td></td><td>Costo inscripción: ${{curso.costo_inscripcion_pesos}}</td></tr>
            <tr><td></td><td>Valor cuota: ${{curso.valor_cuota_pesos}}</td></tr>
            <tr><td></td><td>Costo certificado: ${{curso.costo_certificado_pesos}}</td></tr>
            <tr><td></td><td>Valores expresados en $ (pesos argentinos)</td></tr>
        {% else %}
            <tr><td></td><td>Costo inscripción: u$s{{curso.costo_inscripcion_dolares}}</td></tr>
            <tr><td></td><td>Valor cuota: u$s{{curso.valor_cuota_dolares}}</td></tr>
            <tr><td></td><td>Costo certificado: u$s{{curso.costo_certificado_dolares}}</td></tr>
            <tr><td></td><td>Valores expresados en u$s (dólares)</td></tr>
        {% endif %}

        <tr><td></td><td>Cantidad de cuotas: {{curso.duracion}}</td></tr>
    {% endif %}
{% endfor %}
</table>

{% if lista_cursados %}
    <!-- Lista de opciones de ¿Cómo conociste el curso? -->
    <br><br>Cómo conociste el curso?<br><br>
    <table>
        {% for opcion in opcion_descubrimiento %}
            <tr><td><input type="radio" name="descubrimiento" value="{{ opcion.id }}" checked> {{ opcion }}</td></tr>
        {% endfor %}
    </table>

    <!-- Botón inscribirse -->
    <br>
    <input type="submit" value="Inscribirse" class="input">
    <br>
    <br>
{% endif %}


<!-- Cursos inscriptos -->
{% if lista_cursados_inscripto %}
    <h3>Actualmente estás registrado a los siguientes cursos:</h3>
    <table>
    {% for curso in lista_cursados_inscripto %}
        <td><h4>{{curso.nombre}}</h4></td>
    {% endfor %}
    </table>
    <a href="/sia/listado_cuotas/">Ver estado de cuotas</a>
{% endif %}

</form>

<!-- Noticias -->
{% if noticias %}
    <h2>Noticias</h2>
    <table>
    {% for noticia in noticias %}
        <tr><td>{{ noticia.fecha }}</td><td>{{ noticia.titulo }}</td></tr>
        <tr><td></td><td>{{ noticia.noticia }}</td></tr>
    {% endfor %}
    </table>
{% endif %}

</div>
{% endblock %}
