{% extends "admin/base_site.html" %}
{% block content %}

<script>
    function ConfirmarInscripcion(){

        var radios = document.getElementsByName('curso');
        var curso_seleccionado = 0;
        var cursos_abiertos = [];
        var curso_nombre = "";

        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                curso_seleccionado = radios[i].value;
            }
        }
        mensaje = '¿Estás seguro que deseas inscribirte al curso ';
        curso_nombre = document.getElementById(curso_seleccionado).innerHTML;

        return confirm(mensaje + curso_nombre + "?");
    }
</script>

<div id="content-main">
<form onsubmit=ConfirmarInscripcion() method="POST", action>
{% csrf_token %}
    <br>
    {% if not lista_cursados %}
        <tr><td><p style="color:blue">No hay cursos con inscripciones abiertas a los que no estés inscripto.</p></td></tr>
    {% else %}
        <tr><td><p>Cursos disponibles:</p></td></tr>
    {% endif %}
    

<!-- Lista de cursos con inscripción abierta -->
<table>
<col width="150">
<col width="600">
{% for curso in lista_cursados %}
    {% if curso.inscripcion_abierta %}
        <tr><td><input type="radio" name="curso" value="{{curso.id}}" checked><b><label id="{{curso.id}}">{{ curso }}</label></b></input></td><td>{{ curso.curso.descripcion }}</td></tr>

        {% if es_Argentino %}
            <tr><td></td><td>Costo inscripción en $ (pesos argentinos): {{curso.costo_inscripcion_pesos}}</td></tr>
            <tr><td></td><td>Valor cuota en $ (pesos argentinos): {{curso.valor_cuota_pesos}}</td></tr>
            <tr><td></td><td>Costo certificado en $ (pesos argentinos): {{curso.costo_certificado_pesos}}</td></tr>
        {% else %}
            <tr><td></td><td>Costo inscripción en u$s (dólares): {{curso.costo_inscripcion_dolares}}</td></tr>
            <tr><td></td><td>Valor cuota en u$s (dólares): {{curso.valor_cuota_dolares}}</td></tr>
            <tr><td></td><td>Costo certificado en u$s (dólares): {{curso.costo_certificado_dolares}}</td></tr>
        {% endif %}

        <tr><td></td><td>Cantidad de cuotas: {{curso.duracion}}</td></tr>
    {% endif %}
{% endfor %}
</table>

{% if lista_cursados %} <!-- TO DO: (BUG) Filtrar si lista_cursados tienen inscripciones abiertas -->
    <!-- Lista de opciones de ¿Cómo conociste el curso? -->
    <br><br>Cómo conociste el curso?<br><br>
    <table>
        {% for opcion in opcion_descubrimiento %}
            <tr><td><input type="radio" name="descubrimiento" value="{{ opcion.id }}" checked> {{ opcion }}</td></tr>
        {% endfor %}
    </table>

    <!-- Botón inscribirse -->
    <br>
    <input type="submit" value="Inscribirse" class="input">
    <br>
    <br>
{% endif %}


<!-- Cursos inscriptos -->
<table>
    {% if lista_cursados_inscripto %}
        <p>Actualmente estás registrado a los siguientes cursos:</p>
    {% endif %}
    {% for curso in lista_cursados_inscripto %}
        <tr><td>{{ curso }}</td></tr>
    {% endfor %}
</table>

</form>

<!-- Listado de cuotas -->
<form action="{% url 'sia:generar_cupon' %}" method="POST">
{% csrf_token %}
<br>
Estado de cuotas
<br>
<br>
<table>
    {% if not lista_cuotas %}
        Aún no tienes ninguna cuota abonada.
    {% endif %}
    {% for cuota in lista_cuotas %}
        <tr>
        <td>Curso: {{cuota.cursado}}</td>
        <td>Cuota nº: {{cuota.numero}}</td>
        <td>Valor: ${{cuota.valor_cuota_pesos}}</td>
        {% if cuota.pagado == False%}
            <td>Cuota aún no abonada.</td>
            <td><input type="radio" name="cuota" value="{{cuota.id}}" checked></td>
        {% else %}
            <td>Pagada el: {{cuota.fecha_de_pago}}</td>
            <td>Número de comprobante: {{cuota.comprobante}}</td>
        {% endif %}
        </tr>
    {% endfor %}
</table>
<input type="submit" value="Generar comprobante" class="input">
</form>

</div>
{% endblock %}