{% extends "admin/base_site.html" %}
{% block content %}
{{ titulo }} {{ user }}


<script>
    function ConfirmarInscripcion(){

        var radios = document.getElementsByName('curso');
        var curso_seleccionado = 0;
        var cursos_abiertos = [];
        var curso_nombre = "";

        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                curso_seleccionado = radios[i].value;
            }
        }
        mensaje = '¿Estás seguro que deseas inscribirte al curso ';
        curso_nombre = document.getElementById(curso_seleccionado).innerHTML;

        return confirm(mensaje + curso_nombre + "?");
    }
</script>

<div id="content-main">
<form onsubmit=ConfirmarInscripcion() method="POST", action>
{% csrf_token %}
    <br>
    {% if not lista_cursados %}
        <tr><td><p style="color:blue">No hay cursos con inscripciones abiertas a los que no estés inscripto.</p></td></tr>
    {% else %}
        <tr><td><p>Cursos disponibles:</p></td></tr>
    {% endif %}
    
    <table>
        <col width="150">
        <col width="600">
        {% for curso in lista_cursados %}
            {% if curso.inscripcion_abierta %}
                <tr>
                    <td>
                        <input type="radio" name="curso" value="{{curso.id}}" checked>
                            <b>
                                <label id="{{curso.id}}">{{ curso }}</label>
                            </b>
                        </input>
                    </td>
                    <td>
                        {{ curso.curso.descripcion }}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>Costo total en $ (pesos argentinos): {{curso.costo_total_pesos}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Costo total en u$s (dólares): {{curso.costo_total_dolares}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Costo inscripción en $ (pesos argentinos): {{curso.costo_inscripcion_pesos}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Costo inscripción en u$s (dólares): {{curso.costo_inscripcion_dolares}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cantidad de cuotas: {{curso.duracion}}</td>
                </tr>

                <tr>
                    <td></td>
                    <td>Valor cuota en $ (pesos argentinos): {{curso.valor_cuota_pesos}}</td>
                </tr>

                <tr>
                    <td></td>
                    <td>Valor cuota en u$s (dólares): {{curso.valor_cuota_dolares}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <br>
    Cómo conociste el curso?
    <br>
    <br>
    <table>
    {% for opcion in opcion_descubrimiento %}
        <tr><td><input type="radio" name="descubrimiento" value="{{ opcion.id }}" checked> {{ opcion }}</td></tr>
    {% endfor %}
    </table>
    <br>
    <input type="submit" value="Inscribirse" class="input">

    <br>
    <br>
    <table>
        {% if lista_cursados_inscripto %}
            <p>Actualmente estás registrado a los siguientes cursos:</p>
        {% endif %}
        {% for curso in lista_cursados_inscripto %}
            <tr><td>{{ curso }}</td></tr>
        {% endfor %}


    </table>
    
    <br>
    Estado de cuotas
    <br>
    <br>
    <table>
        {% if not lista_cuotas %}
            Aún no tienes ninguna cuota abonada.
        {% endif %}
        {% for cuota in lista_cuotas %}
            <tr>
                <td>Curso: {{ cuota.cursado }}</td>
                <td>Cuota nº: {{cuota.numero}}</td>
                <td>Pagada el: {{cuota.fecha_de_pago}}</td>
                <td>Número de comprobante: {{cuota.comprobante}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}