{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block extrastyle %}
<style>
    .hidden {
        display: none;
    }
    .filters label {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}

<h1>Generar reportes</h1>

<br>

<h3>Seleccionar cursado:</h3>
<hr>
<div class="filters">
    <table>
        <tr>
            <td><label>Filtrar cursados:</label></td>
            <td><input type="checkbox" name="filter_activos" id="filter_activos" checked="true"> Cursados activos (inscripción abierta)</td>
            <td><input type="checkbox" name="filter_inactivos" id="filter_inactivos"> Cursados inactivos (inscripción finalizada)</td>
        </tr>
    </table>
</div>

<form method="POST" action="">
{% csrf_token %}
    <div id="cursados_activos">
        <h5>Cursados activos (inscripción abierta)</h5>
        <table>
            {% for curso in lista_cursados_activos %}
                <tr>
                    <td>
                        <input type="radio" name="curso" value="{{ curso.id }}" checked>
                        <label>{{ curso }}</label></input>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="cursados_inactivos" class="hidden">
        <h5>Cursados inactivos (inscripción finalizada)</h5>
        <table>
            {% for curso in lista_cursados_inactivos %}
                <tr>
                    <td>
                        <input type="radio" name="curso" value="{{ curso.id }}" checked>
                        <label>{{ curso }}</label></input>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Seleccionar reporte:</h3>
    <hr>
    <table>
        <!-- Reporte inscriptos -->
        <tr>
            <td>
                <input type="radio" name="tipo_reporte" value="inscriptos" checked>
                <label>Planilla de inscriptos</label>
            </td>
        </tr>

        <!-- Reporte morosos -->
        <tr>
            <td>
                <input type="radio" name="tipo_reporte" value="morosos">
                <label>Estado de deuda y recaudación</label>
            </td>
        </tr>

        <tr>
            <td>
                <input type="radio" name="tipo_reporte" value="cursos_inscriptos_alumno">
                <label>Cursos inscriptos por alumno</label>
            </td>
        </tr>
    </table>

    <input type="submit" value="Generar" class="input">
</form>

<script type="text/javascript" src="{% static 'sia/admin/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript">
    $('#filter_activos').click(function() {
        if ($(this).is(':checked')) {
            $('#cursados_activos').removeClass('hidden');
        } else {
            $('#cursados_activos').addClass('hidden');
        }
    });
    $('#filter_inactivos').click(function() {
        if ($(this).is(':checked')) {
            $('#cursados_inactivos').removeClass('hidden');
        } else {
            $('#cursados_inactivos').addClass('hidden');
        }
    });
</script>

{% endblock %}
